@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';
@import 'themes/nature-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/libs/bread-crumbs/bread-crumbs.component-theme.scss';
@import 'app/libs/big-input/big-input.component.scss-theme';

@import 'app/admin/components/home-container/home-container.component-theme.scss';
@import 'app/static/about/about.component.scss-theme';
@import 'app/examples/notifications/components/notifications.component.scss-theme';
@import 'app/examples/todos/components/todos-container.component.scss-theme';
@import 'app/examples/stock-market/components/stock-market-container.component.scss-theme';
@import 'app/examples/theming/parent/parent.component.scss-theme';
@import 'app/examples/theming/child/child.component.scss-theme';
@import 'app/examples/examples/examples.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include tgapp-styles-reset-theme($theme);
  @include tgapp-app-component-theme($theme);
  @include tgapp-about-component-theme($theme);
  @include tgapp-notifications-component-theme($theme);
  @include tgapp-todos-container-component-theme($theme);
  @include tgapp-stock-market-container-component-theme($theme);
  @include tgapp-parent-component-theme($theme);
  @include tgapp-child-component-theme($theme);
  @include tgapp-examples-component-theme($theme);
  @include tgapp-home-container-theme($theme);

  @include ngx-big-input-component-theme($theme);
  @include ngx-breadcrumbs-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($ngx-theme);
  @include custom-components-theme($ngx-theme);
}

.light-theme {
  @include angular-material-theme($ngx-light-theme);
  @include custom-components-theme($ngx-light-theme);
}

.black-theme {
  @include angular-material-theme($ngx-black-theme);
  @include custom-components-theme($ngx-black-theme);
}

.nature-theme {
  @include angular-material-theme($ngx-nature-theme);
  @include custom-components-theme($ngx-nature-theme);
}

.full-width {
  width: 100%;
}

.fill-remaining-space {
  // 使用 flexbox 填充剩余空间
  // @angular/material 中的很多控件使用了 flex 布局
  flex: 1 1 auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding: 0px;
  margin: 5px;
}

::ng-deep .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
