<ng-template #none>
  <mat-card>
    {{ 'tgapp.admin.user-detail.nothing-to-display' | translate }}
  </mat-card>
</ng-template>
<mat-tab-group *ngIf="(model$ | async) !== null else none">
  <mat-tab label="{{ 'tgapp.admin.user-detail.info' | translate }}">
    <ng-template matTabContent>
      <form [formGroup]="entityForm" (ngSubmit)="submit()">
        <formly-form [model]="model" [fields]="fields" [form]="entityForm">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span>
              <button mat-flat-button type="button" [routerLink]="['../']">
                {{ 'tgapp.form.cancel.button' | translate }}
              </button>
              <button mat-button color="warn" type="button" (click)="handleDelete()" [disabled]="isBuiltIn(model.username)">
                {{ 'tgapp.form.delete.button' | translate }}
              </button>
            </span>
            <button mat-raised-button color="primary" [disabled]="entityForm.invalid || isBuiltIn(model.username)">
              {{ 'tgapp.form.save.button' | translate }}
            </button>
          </div>
        </formly-form>
      </form>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{ 'tgapp.admin.user-detail.roles' | translate }}">
    <ng-template matTabContent>
      <mat-list>
        <mat-list-item>
          <ngx-mat-autocomplete
            class="full-width"
            [placeholder]="'tgapp.admin.user-detail.roles.addrolemapping' | translate"
            [source]="availableRoles$ | async"
            [hasProgressBar]="true"
            [clearAfterSearch]="true"
            [displayTemplate]="itemTemplate"
            [noRecordText]="'tgapp.role.search.norecord' | translate"
            (optionSelected)="handleAddRoleToUser($event)">
          </ngx-mat-autocomplete>
          <ng-template #itemTemplate let-item>
            <span> {{ item.name }}</span>
          </ng-template>
        </mat-list-item>
        <mat-list-item *ngFor="let role of roles$ | async">
          <p matLine>{{ role.name }}</p>
          <button mat-icon-button color="warn" (click)="handleRemoveRole(role)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{ 'tgapp.admin.user-detail.groups' | translate }}">
    <ng-template matTabContent>
      <mat-list>
        <mat-list-item>
          <ngx-mat-autocomplete class="full-width" [placeholder]="'tgapp.admin.user-detail.groups.add-group-mapping' | translate"
            [minChars]="2" [source]="groupService" [serviceParams]="params" [hasProgressBar]="true" [clearAfterSearch]="true"
            [displayTemplate]="itemTemplate" [noRecordText]="'tgapp.group.search.norecord' | translate" (optionSelected)="handleAddUserToGroup($event)">
          </ngx-mat-autocomplete>
          <ng-template #itemTemplate let-item>
            <span> {{ item.name }}</span>
          </ng-template>
        </mat-list-item>
        <ng-container *ngIf="groups$ | async as groups">
          <cdk-virtual-scroll-viewport itemSize="10" class="virtual-viewport" *ngIf="groups.length > 0"
            (scrolledIndexChange)="pageChange()">
            <mat-list-item *cdkVirtualFor="let group of groups; let i = index;" class="list-item">
              <p matLine>{{ group.name }}</p>
              <button mat-icon-button color="warn" (click)="handleRemoveUserFromGroup(group)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </mat-list-item>
          </cdk-virtual-scroll-viewport>
        </ng-container>
      </mat-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
